<html>
        <head>
            <title>Yeon's blog</title>
        </head>

        <body>

            <div>
             <hi><a href="">YeonKyeong Blog</a></h1>
            </div>

            <div> 
             <p>published: 16.08.31., 17:19</p>
             <h2><a href="">My first post</a></h2>
             <p>나는 천재다! 나는 지혜롭다!</p>
            </div>
            
            <div>
             <p>published: 16.08.31., 17:23</p>
             <h2><a href="">My second post</a></h2>
             <p>끝날 때까지 끝난게 아니다.</p>
            </div>
        </body>
    </html>
